<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="WP Magick Toolbox Test Suite">
            <directory suffix=".php">./tests/</directory>
            <exclude>./tests/support/</exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./admin</directory>
            <directory suffix=".php">./includes</directory>
            <file>magick-tool-box.php</file>
        </include>
    </coverage>

    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org" />
        <const name="WP_TESTS_EMAIL" value="admin@example.org" />
        <const name="WP_TESTS_TITLE" value="Test Blog" />
        <const name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php" />
    </php>
</phpunit>
