#mabox_census_count .box {
  min-width: 180px;
  padding: 10px 20px;
  margin: 20px 10px;
  color: #2c2c2c;
  border-radius: 18px;
  background-color: #f6f7f7;
  box-shadow: 5px 5px 10px #d1d2d2, -5px -5px 10px #ffffff;
}
#mabox_census_count .box > span {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
#mabox_census_count .box .child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mabox_census_count .box .child p {
  line-height: 1.5;
}
#mabox_census_count .box .child p span {
  margin: 0 6px 0 0;
  font-size: 28px;
  font-weight: bold;
}
#mabox_census_count .box .child > span {
  font-size: 28px;
  width: 36px;
  height: 36px;
}
#mabox_census_count .single-box {
  display: flex;
}
#mabox_census_count .single-box .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  #mabox_census_count .single-box {
    flex-wrap: wrap;
  }
}
