#mami_b2_shop_count {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}
//tab
.tab {
  .tab-header {
    .tab-button {
      padding: 0.6em 1.2em;
      margin: 0 1.6em 0 0;
      border-radius: 6px;
      transition: all 0.3s;

      cursor: pointer;
    }
    .tab-button.active {
      color: #fff;
      background-color: #3ac569;
      box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
    }
  }
  .describe {
    text-align: end;
    font-size: 12px;
    color: #818181;
  }
}
//管理统计块
.count-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
//统计块
.box {
  min-width: 180px;
  padding: 10px 20px;
  margin: 20px 10px;
  color: #2c2c2c;
  border-radius: 18px;
  background-color: #f6f7f7;
  box-shadow: 5px 5px 10px #d1d2d2, -5px -5px 10px #ffffff;
  > span {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      line-height: 1.5;
      span {
        font-size: 28px;
        font-weight: bold;
      }
    }
    > span {
      font-size: 28px;
      width: 36px;
      height: 36px;
    }
  }
}

//表格
.form-box {
  display: flex;
  flex-wrap: wrap;
}
