html,
body {
    background: #f7f7f7;
}

.gtGAjh {
    text-align: center;
}

.gtGAjh .logo {
    margin: 100px 0px 50px;
}

.gtGAjh .logo svg {
    width: 120px;
}

.gtGAjh .modal {
    display: inline-block;
    background: #ffffff;
    width: 800px;
    padding: 80px 0px;
}

.gtGAjh .modal .title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #41464b;
    margin-bottom: 20px;
}

.gtGAjh .modal .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: #666666;
}

.gtGAjh .modal .link {
    display: inline-block;
    width: 400px;
    background: #f7f7f7;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 12px;
    color: #41464b;
    margin: 30px 0px;
    word-break: break-all;
}

.gtGAjh .modal .button {
    background: linear-gradient(360deg, #2c3033 -0.09%, #54585d 100%);
    border: 1px solid #2c3033;
    border-radius: 2px;
    line-height: 24px;
    padding: 4px 24px;
    color: #ffffff;
}

.gKgaxE {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    border-style: solid;
    background-color: var(--sm-color-gray0);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease 0s, border-color 0.3s ease 0s;
    color: #666666;
    border-width: 0px;
    background-image: linear-gradient(#fdfdfd, #f8f8f8);
    box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 1px 0px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    min-width: 100px;
    height: 34px;
    line-height: 32px;
    padding: 0px 15px;
}

@media (max-width: 820px) {
    .gtGAjh .modal {
        width: 90%;
        padding: 30px 10px;
    }

    .gtGAjh .modal .title {
        font-size: 18px;
    }

    .gtGAjh .modal .link {
        width: 90%;
    }
}