/** 
 * @name: index.css
 * @description:  分享
 */
.open_share {
  position: fixed;
  right: 12px;
  top: 195px;
  z-index: 11;
}

.site-sharing-container ul,
.site-sharing-container li {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.site-sharing-container {
  line-height: 1.5;
}

.site-sharing-container.opened .site-sharing-content {
  will-change: auto;
  visibility: visible;
  -webkit-transform: translate(-50%, -30px);
  transform: translate(-50%, -30px);
}
.site-sharing-container {
  visibility: hidden;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 1.4px;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.4s, visibility 0.4s;
  transition-delay: 0s, 0s;
  transition-delay: 0.2s;
  z-index: 993;
}
.site-sharing-container .site-sharing-content {
  visibility: hidden;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: calc(100% - 40px);
  max-width: 450px;
  height: auto;
  color: #333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 20px 20px 0;
  background-color: #fff;
  transition: visibility 0.4s,
    -webkit-transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1), visibility 0.4s;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1), visibility 0.4s,
    -webkit-transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  border-radius: 20px;
  overflow: hidden;
}
.site-sharing-container .site-sharing-content > .title {
  display: block;
  font-size: 1.4px;
  font-weight: bold;
  margin-bottom: 20px;
}
.site-sharing-container .site-sharing-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.site-sharing-container .site-sharing-content ul li {
  width: 25%;
  margin: 0 0 25px;
  padding: 0 5px;
}
.site-sharing-container .site-sharing-content ul li .icon {
  display: block;
  position: relative;
  width: 55px;
  height: 55px;
  margin: 0 auto 5px auto;
  cursor: pointer;
}
.site-sharing-container .site-sharing-content ul li .icon img {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.site-sharing-container .site-sharing-content ul li .icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: 15px;
  transition: 0.2s;
  opacity: 0.05;
}
.site-sharing-container .site-sharing-content ul li .icon:hover::before {
  opacity: 0.1;
}
.site-sharing-container .site-sharing-content ul li .title {
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.5;
}
.elevator_item {
  position: fixed;
  right: 12px;
  top: 195px;
  z-index: 11;
}
@media screen and (max-width: 320px) {
  .site-sharing-container .site-sharing-content ul li .icon {
    width: 40px;
    height: 40px;
  }
}

/*优化弹出框*/
/**
分享
*/
.share .ant-drawer-content-wrapper {
  box-shadow: none;
}
.share .ant-drawer-content-wrapper .drawer_content {
  background-color: transparent;
}
