/** 弹出框*/
.poster_drawer .ant-drawer-content-wrapper {
  box-shadow: none;
  height: 100vh !important;
  width: 500px;
  margin: 0 auto;
}

/*隐藏滚动条*/
.poster_drawer .ant-drawer-content-wrapper .ant-drawer-body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.poster_drawer .ant-drawer-content-wrapper .ant-drawer-body::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.poster_drawer .ant-drawer-content-wrapper .drawer_content_poster {
  background-color: transparent;
}

/** 海报盒子*/
.scroll-content {
  padding: 80px 0 30px 0;
}
.posterBox {
  position: relative;
  color: rgba(51, 51, 51, 1);
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.posterBox img {
  display: block;
  width: 100%;
  height: auto;
}

/** 海报*/
.poster {
  position: relative;
  color: #333;
  width: 100%;
  max-width: 40rem;
  width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: #f4f4f4;

  /*
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
  */
}

.bg {
  position: relative;
}
.bg img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.bg .meat {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  text-align: right;
}
.bg .meat p {
  margin: 0;
  font-size: 16px;
}
.bg .meat p:first-child {
  font-size: 36px;
  font-weight: bold;
}
.content {
  text-align: center;
  padding: 30px;
}
.content h2 {
  margin: 10px 0;
  font-size: 26px;
  font-weight: bold;
}
.content .meat {
  line-height: 1.4em;
  margin-top: 40px;
  color: #a5a5a5;
}
.content .qr {
  margin-top: 30px;
  color: #a5a5a5;
}
.content .qr div {
  margin: 0 auto;
}
.content .qr p {
  margin: 10px 0;
  font-size: 12px;
}
/*关闭按钮*/
.close {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  transition: 0.4s, visibility 0.4s;
  transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  transition-delay: 0.2s;
  opacity: 0;
  cursor: pointer;

  visibility: visible;
  opacity: 1;
  z-index: 9;
}
.close .icon {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  box-shadow: inset 0 0 0 0.1rem rgba(255, 255, 255, 0.1);
}

.close .icon::before,
.close .icon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 14px;
  height: 2px;
  background-color: #fff;
}

.close .icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close .icon::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
* 下载按钮
*/
.dowload-btn {
  margin: 20px auto;
  display: flex;
  border: 0;
  border-radius: 20px;
}
